* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: ;
}

body {
  font-family: georgia, sans-serif;
  padding: 1rem;
}

.initials {
  font-family: cursive, lucida;
  font-size: 6rem;
  padding: -3rem;
}

.structure {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: 3rem;
}

.objectives {
  text-align: center;
}

.objectives p {
  font-size: 0.9rem;
}

.aboutme p {
  font-size: 0.9rem;
  text-align: center;
}

h1 {
  font-size: 1.75rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  border-top: 0.75px solid black;
  border-bottom: 0.75px solid black;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #322001;
  margin-bottom: 1rem;
}

p {
  font-size: 0.90rem;
  line-height: 1rem;
}

h3 + p {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

div + div {
  margin-top: 2rem;
}

li + li {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.profile {
  text-align: center;
}

.profile img {
  border-radius: 10000px;
  width: 10rem;
  height: 10rem;
}

.profile p {
  margin-bottom: 1rem;
  color: #322001;
  font-size: 2rem;
}

.contact ul {
  margin-top: -1rem;
}

.contact li {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.35rem;
}

span {
  font-size: 0.75rem;
}

.skills > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  font-size: 0.75rem;
  margin-top: -0.85rem;
}

.timeline {
  padding-top: 1rem;
}

.event {
  display: grid;
  grid-template-columns: 5ch 1fr;
}

.info {
  border-left: 1px solid black;
  padding-left: 1rem;
  margin-left: 1rem;
}
